@font-face {
  font-family: Pattaya;
  src: url(../fonts/Pattaya-Regular.ttf);
}

@font-face {
  font-family: Livvic;
  src: url(../fonts/Livvic-Black.ttf);
}

@font-face {
  font-family: Miriam;
  src: url(../fonts/MiriamLibre-Regular.ttf);
}

/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Fuentes */
.pattaya {
  font-family: Pattaya, sans-serif;
}

.livvic {
  font-family: Livvic, sans-serif;
}

.miriam {
  font-family: Miriam, sans-serif;
}



.blanco {
  color: white;
}

.morado {
  color: #1B0024;
}

a {
  text-decoration: none;
}


/* Secciones */


section {
  height: 100vh;
}



#inicio {
  background-image: url(../images/fondo1.jpg);
  display: flex;
  align-items: center;
}

#testimonios {
  background-image: url(../images/fondo2.jpg);
  color: white;
}

#sobremi {
  background-image: url(../images/fondo3.jpg);
  color: white;
}

#contacto {
  height: 90vh;
}

#inicio, #testimonios, #sobremi {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Sección inicio */

#letrero {
  width: 100%;
  color: white;
}

#cuadro-morado {
  min-height: 400px;
  max-height: 450px;
  background: #6D53A5;
  background: linear-gradient(90deg, rgba(109,83,165,1) 0%, rgba(109,83,165,0) 100%);
  display: flex;
  flex: 100%;
  align-items: center;
}

#nombre {
  margin-left: 2%;
  margin-bottom: 0.5%;
  padding-top: 1%;
  font-size: 2.5vw;
  font-family: Pattaya, sans-serif;
}

.desarrollador {
  margin-left: 2%;
  font-size: 5vw;
  text-shadow: 0.1em 0.05em 0.1em rgb(30, 30, 30);
}

#botones {
  margin: 2%;
  display: flex;

}

.boton-menu {
  background-color: #C52283;
  transform: skewX(-25deg);
  padding: 0.2vw;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  font-size: 1.5vw;
  color: white;
  min-width: 8.5%;
  text-align: center;
  cursor: pointer;
}

.boton-menu > p {
  transform: skewX(25deg);
  cursor: pointer;
}


.boton-menu:hover {
  background-color: #1B0024;
}


h2 {
  font-family: pattaya;
  font-size: 2vw;
  text-align: center;
  padding-top: 4vh;
}

#testimonios > h2, #sobremi > h2 {
  color: white;
}

/*Seccion proyectos */

#container-proyectos {
  display: flex;
  flex-wrap: wrap;
}

.proj {
  background-color: #C52283;
  height: 35vh;
  flex: 25%;
  text-align: center;
  margin: 2% 4%;
  cursor: pointer;
}

.resumen-proj{
  padding-top: 12vh;
  height: 35vh;
  font-size: 1.3em;
  color: #C52283;
}

.resumen-proj:hover {
  color: white;
}

.proj:hover {
  background-color: #1B0024;
}

/*Seccion testimonios */
#container-testimonios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.test {
  background-color: white;
  height: 35vh;
  flex: 25%;
  margin: 10% 4%;
  cursor: pointer;
}


#sticky {
  position: fixed;
  top: 10px;
}


.linea {
  background-color:#FF005C;
  width: 25px;
  height: 5px;
}


/*                   TIMELINE                   */

.content {
  padding: 20px 30px;
  background-color: rgba(197,34,131,0.08);
  border-radius: 12px;
  border: solid #1B0024 1px;
  margin: 1%;
}


.timeline p:nth-child(1) {
  color: #C52283;
}

/* Punto de ruptura para pantallas grandes */
@media screen and (min-width:1281px){

  #container-timeline {
    display: flex;
    height: 80vh;
    align-items: center;
    /* border: solid black 3px; */
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    width: 70vw;
    max-height: 70vh;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #1B0024;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }


  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-right: -50vw;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #1B0024;
    top: 70px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
    text-align: right;
  }

  /* Place the container to the right */
  .right {
    left: 50.3%;

  }


  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: rgba(197,34,131,0.08);
    position: relative;
    border-radius: 12px;
    border: none;
  }

  .timeline p {
    font-family: Miriam;
    font-size: 1.25em;
  }

}


/* Seccion sobre mi */

#container-aboutme {
  width: 95vw;
  height: 90vh;
  display: flex;
  align-items: center;
}

#foto {
  background-color: #FF005C;
  height: 50vh;
  flex: 33%;
  margin: 10% 5% 10% 10%;
}

#bio {
  height: 50vh;
  flex: 50%;
  margin: 5% 10% 10% 5%;
  color: white;
  font-family: Miriam;
}

#bio h4 {
  color:#FF005C;
  font-size: 1.6em;
  margin: 10% 2% 5%;
}

#bio p {
  margin-top: 2vh;
  font-size: 1.2em;
  margin: 2%;

}

/* Seccion contacto */

#telefono, #correo {
  display: flex;
}

#telefono-email p {
  margin-left: 5%;
  padding-top: 3%;
}

#telefono p {
  width: 10vw;
}

#container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


/* FORMULARIO */
.contact_form {
  width: 25vw;
  height: auto;
  margin: 20px 3vw;
  border-radius: 10px;
  padding: 2vh 1vw 2vh;
  background-color: #fbfbfb;
  border: solid #c52283 1px ;
}


form input {
  background-color: #fbfbfb;
  width: 23vw;
  height: 4vh;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c52283;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding-left: 0.5vw;
  font-family: Miriam;
}


textarea{
  background-color: #fbfbfb;
  width: 23vw;
  height: 10vh;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c52283;
  resize: none;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding-left: 0.5vw;
  padding-top: 0.5vh;
  font-family: Miriam;
}


label{
  display: block;
}


.formulario button{
  height: 45px;
  font-family: Miriam;
  text-transform: uppercase;
  background-color: #c52283;
  border-color: #c52283;
  border-style: solid;
  border-radius: 10px;
  width: 23vw;
  cursor: pointer;
}

.formulario button:active {
  background-color: #1B0024;
  border-color: #1B0024;
}

.formulario button{
  color: #fff;
}


.formulario span{
  color: #c52283;
}


.aviso{
  font-size: 13px;
  color: #0e0e0e;
}



.formulario p{
  font-size: 14px;
  color: #0e0e0e;
  font-family: Miriam;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #6D53A5;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #6D53A5;
}

#mensaje-error {
  color: #FF005C;
  margin: 1%;
}

#volver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forma-triangulo {
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
  margin: 0.5vh;
  background-color: #C52283;
  width: 1vw;
  height: 2vh;
}

#boton-volver {
  color: white;
  width: 4vw;
  height: 3vh;
  font-family: Miriam;
  text-transform: uppercase;
  background-color: #c52283;
  border-color: #c52283;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}


#boton-volver:active {
  background-color: #1B0024;
  border-color: #1B0024;
}

footer {
  background-color: #1B0024;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  display: flex;
  justify-content: center;
  width: 10vw;
}

.icono-red-social {
  margin: 5%;
}

.titulo-section {
  display: inline;
}

.menu-burger {
float: right;
padding: 1%;
}

#contenedor-enlaces {
display: flex;
justify-content: space-around;
flex-direction: column;
}



header{
  right: 4vw;
  top: 2vw;


  position: fixed;
}
.navham {
  margin-top: 1vh;
  transition: ease 1s;
}

.divvisible {
  position: fixed;
  right: 0vw;

  display: flex;
  flex-direction: column;

  top: 17vh;
  align-items: end;
  text-align: right;

}

.enlacevisible {

  background-color:#FF005C;
  width: 10vw;
  padding: 0.2vw;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  font-size: 1.5vw;
  color: white;
  min-width: 8.5%;
  text-align: center;
  cursor: pointer;
  transition: ease 1s;
  opacity: 0;


}


/* Punto de ruptura */
@media screen and (max-width:950px){
  .boton-menu {
    font-size: 5vw;
  }

  #cuadro-morado {
    min-height: 200px;
  }

  #navdiv {
    display: none;
  }

  #boton-volver {
    width: 6vw;
  }

  #foto {
    display: none;
  }

  #bio {
    margin-top: 0%;
  }

}
