/* curriculum */

body#curriculum{
    min-width: 65em;
  }
  
  #contenidocurriculum {
    display: flex;
  }
  
  #lineacentral {
    border-right: 2px solid #4e9f3d;
  }
  
  #cajasdere {
    margin-top: 10em;
  }
  
  .caja p {
    justify-content: center;
    color: #1e5128;
    font-size: 1em;
  }
  
  .caja {
    height: 10em;
    width: 20em;
    background-color: #4e9f3d;
    margin: 6em;
    border-radius: 20px;
    padding: 0em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  span {
    text-decoration: underline;
  }
  
  .cajalineaizq {
    position: absolute;
    border-top: 2px solid #4e9f3d;
    margin-left: 28em;
    margin-top: 5em;
    width: 6em;
  }
  
  .cajalineader1 {
    position: absolute;
    border-top: 2px solid #4e9f3d;
    margin-top: 11em;
    width: 6em;
  }
  
  .cajalineader2 {
    position: absolute;
    border-top: 2px solid #4e9f3d;
    margin-top: 5em;
    width: 6em;
  }
  
  /* ---------------------------------- */
  