@font-face {
    font-family: "Roboto-regular";
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-light";
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-bold";
    src: url('../fonts/Roboto-Bold.ttf');
}


@keyframes efectomenu {
    from {margin-top: -10em;}
  }

/*---------------------------------Menu Hamburguesa--------------------------------------------*/

#desplegable {
    display: none;
}

#botonmenu {
    width: 3em;
    height: 3em;
    margin: 1em;
}

opcs-menu ul {
    list-style: none;
}

.enabled-menu {
    display: block;
}

.disable-menu {
    display: none;
}

#opcs-menu {
    background-color: lightgrey;
    width: 40%;
    animation-name: efectomenu;
    animation-duration: 1.5s;
    border-radius: 15px;
}

#opcs-menu ul li {
    display: block;
    text-decoration: none;
    margin-top: 0.8em;
    font-size: 1.2em;
    color: #4e615d;
    font-family: Roboto-regular;
    width: 5%;
    text-align: left;
}

#opcs-menu ul li a:hover {
    font-size: 1em;
    width: 100%;

}

#opcs-menu ul li{
    width: 100%;
}

#botonmenu:hover{
    background-color: rgb(241, 241, 236);
}

#botonmenu {
    border: none; /*anchura, estilo y color borde*/
    background-color: #EBE1E4; /*color botón*/
    border-radius: 10px; /*bordes redondos*/
}

hr {
    background-color: #2E534B;
    border: #2E534B solid 2.5px;
    border-radius: 5px;
}

/***********************************************************************************************************************/

/*Activa el color del fondo cuando un formulario no es valido*/
.error {
    background-color: #f3a7a7;
}

/*Menú de navegación*/
.menu-nav ul li, a {

    display: inline-block;
    text-decoration: none;
    margin: auto 1em auto 1em;
    font-size: 1.2em;
    color: #4e615d;
    font-family: Roboto-regular;
}

.menu-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-right: 5em;
}



/*Cuando pasamos el cursor por encima se agranda el texto*/
nav ul li, a:hover {
    transform:scale(1.15);
}

/*Centramos el menu de navegación utilizando flex*/
.menu-nav {
    display: flex;
    justify-content: center;
}

/*Color del fondo de la pagina*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:#EBE1E4;
}


/*Footer de las pagina*/
footer {
    background-color: #BAB4BF;
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

/*Da un ancho y un alto a los iconos*/
.Iconos {
    width: 2.2em;
    height: 2.2em;
}

/*Situa a los iconos dentro del div*/
#rsociales{
    margin-top: 120px;
}

/*Subraya cada apartado del menú de la pagína en la que nos encontramos actualmente*/
#subrayadomenu{
    text-decoration: underline #2E534B 2px;
    font-size: 1.4em;
    font-family: Roboto-bold;
}

/*organiza la sección del proyecto en una columna*/
.containercolumn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

/*Organiza la sección de la pagina principal en forma de fila*/
.containerrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*-----------------------------------------INICIO---------------------------------------------*/

/*Frase de la pagina de inicio*/

#fraseinicio p::first-letter {
   font-size: 1.5em;
}

#fraseinicio {
    width: 10em;
    font-size: 2.7em;
    color: #2E534B;
    font-family: Roboto-light;
    margin: auto -5% auto auto;
}


/*Contenido multimedia imagen de pagina de inicio*/
#imageninicio {

    background-color: grey;
    height: 15em;
    width: 26em;
    transform: rotate(173deg);
    border-radius: 3.125em;
    border: #2E534B solid 2.2em;
    margin: 3.6em auto auto auto;

}

/*En la pagina de inicio me describe un poco*/
#description-inicio {
    margin: 3.7em auto 2em auto;
    width:70%;
    text-align: center;
    font-family: Roboto-light;
    font-size: 1.5em;
    color: #4e615d;
}
/**********************************************************************************************/

/*-------------------------------------MIS PROYECTOS------------------------------------------*/

.titulo {
    width: 4em;
    height: 2em;
    margin: 1.5em auto 0em 12%;
    font-size: 40px;
    color: #2E534B;
}

.description-proyect {
    width:28em;
    height: 9em;
    padding: 10px;
    margin-left: 10.5%;
    margin-right: auto;
    font-family: Roboto-light;
    font-size: 20px;
    color: #4e615d;
}

.imagenmisproyectos {
    background-color: grey;
    height: 15em;
    width: 26em;
    margin:6em 12% 0em auto;
    border-radius: 3.125em;
    border: #2E534B solid 2.2em;
}

/**********************************************************************************************/

/*------------------------------------TESTIMONIOS---------------------------------------------*/

.nombrecliente {
    width: 12em;
    height: 2em;
    margin: 2.5em auto 0 12%;
    font-size: 1.5em;
    color: #2E534B;
    font-family: "Roboto-bold";

}

.comentariocliente {
    width:28em;
    height: 9em;
    padding: 0.5em;
    margin-left: 10.5%;
    margin-right: auto;
    font-family: Roboto-light;
    font-size: 19px;
    color: #4e615d;
}

.multimediaclientes {
    background-color: grey;
    height: 15em;
    width: 26em;
    margin: 6em 12% 2em auto;
    border-radius: 1em;
}

/**********************************************************************************************/

/*-------------------------------------------CV-----------------------------------------------*/

.tituloscv {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.9em;
}

/*div que contiene cada linea de tiempo*/
.linea-tiempo {
    position: relative;
    width: 40.5em;
    max-width: 95vw;
    height: 100%;
    margin: auto;
    margin-bottom: 3em;
  }

  .momento {
    position: relative;
    width: 45%;
    font-family: Roboto-regular;
    box-sizing: border-box; /*eli*/
  }

  /*Coloca elementos segun seán pares en la derecha de la linea de tiempo*/
  .momento:nth-child(even) {
    left: 55%;
  }

  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }

  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
  }
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }

  .momento h1 {
    margin: 0.6em 0;
    font-size: 1.5em;
    text-align: center;
  }
  .momento .descripcion {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.4em;
    font-size: 1em;
  }
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid white;
  }

  .momento:nth-child(even) .descripcion {
    background-color: white;
    color: black;
  }

  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid white;
    border-left: none;
  }


/**********************************************************************************************/

/*-------------------------------------SOBRE MÍ-----------------------------------------------*/


#fotopersonal img{
    width: 12em;
    height: 15em;
    margin: 3.5em 10em auto 12em;
}


#listasdescritiva {

    margin: 0em 10em 6em 10.5em;
    width: 55%;
    color: #2E534B;
    font-family: Roboto-light;
}

#sobremi {
    margin-top: 3.3em;
    margin-left: -10.9em;
    font-size: 1.5em;
    color: #2E534B;
    font-family: Roboto-bold;
}

#descripcionpersonal {
    font-size: 1.2em;
    margin: 0em 7em 1em -13.5em;
    color: #2E534B;
    font-family: Roboto-light;
    width: 35em;
}

#alargarsesion {
    min-height: 70vh;
}

/**********************************************************************************************/

/*-------------------------------------CONTACTO-----------------------------------------------*/
/*organiza la pagina de contacto la parte de nuestros datos*/

.tituloscontacto {
    margin: 1em auto 0.7em auto;
    font-family: Roboto-light;
}

form{
	width:24.9em;
	padding:16px;
	margin:auto;
}

form label{
	width:4.5em;
	display:inline-block;
    font-family: Roboto-regular;
}

form input {
	width:300px;
    height: 1.5em;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:0.4em;
	margin:0.5em 0 1.6em 0;
	display:inline-block;
}

#enviar:hover {
    color: #2E534B;
    background-color: white;
}

#enviar {
    width: 100%;
    height: 2.5em;
    border-radius:0.4em;
    border: #f6f6f6;
    background-color: #BAB4BF;
}

textarea{
	width:98%;
	height:8.5em;
	border:1px solid #f6f6f6;
	border-radius:0.4em;
	margin:0.5em 0 1.5em 0;
	resize:none;
	display:block;
}

#infocontacto {
margin: auto;
font-family: Roboto-regular;
}

/**********************************************************************************************/

/*----------------------------------VERSION MOBILE--------------------------------------------*/

@media only screen and (max-width: 600px){

/*Oculta el menu de navegación principal*/
#navprincipal {
    display: none;
}

/*Muestra el boton del menu hamburguesa*/
#desplegable {
    display: flex;
}

#desplegable ul {
    display: block;
}

/*Menú de navegación*/
nav ul li, a {
    font-size: 0.9em;
}

/*organiza la sección del proyecto en una columna*/
.containercolumn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

/*Organiza la sección de la pagina principal en forma de columna*/
.containerrow {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*-----------------------------------------INICIO---------------------------------------------*/

/*Frase de la pagina de inicio*/
#fraseinicio {
    margin: auto;
    font-size: 2.2em;
}

/*Contenido multimedia imagen de pagina de inicio*/
#imageninicio {
    height: 13em;
    width: 20em;
    margin: auto;
}

/*En la pagina de inicio me describe un poco*/
    #description-inicio {
        margin: 4em auto auto auto;
        text-align: center;
        font-size: 20px;
    }
/**********************************************************************************************/

/*-------------------------------------MIS PROYECTOS------------------------------------------*/

.titulo {
    width: 4em;
    height: 2em;
    margin: auto;
    font-size: 2em;
}

.description-proyect {
    width:28em;
    height: 9em;
    padding: 10px;
    margin: auto;
    font-size: 1.1em;

}

.imagenmisproyectos {
    height: 13em;
    width: 22em;
    margin: 6em auto auto auto;
}

/**********************************************************************************************/

/*------------------------------------TESTIMONIOS---------------------------------------------*/

.nombrecliente {
    width: 12em;
    height: 2em;
    margin: 2.5em auto 0 18%;
    font-size: 16px;
}

.comentariocliente {
    width:24em;
    height: auto;
    padding: 10px;
    margin: auto ;
    font-size: 16px;
}

.multimediaclientes {
    height: 13em;
    width: 24em;
    margin: 0em auto auto auto;
}


/**********************************************************************************************/


/*-------------------------------------SOBRE MÍ-----------------------------------------------*/


#fotopersonal img{
    width: 10em;
    height: 12em;
    margin: auto;
    display: flex;
    justify-content: center;
}


#listasdescritiva {
    margin: auto;
    width: auto;
}

#sobremi {
    margin: auto;
    margin-top: 1.5em;
    font-size: 1.5em;
}

#descripcionpersonal {
    font-size: 1.2em;
    width: 20em;
    margin:auto;
    margin-top: 1em;
}
/**********************************************************************************************/
}
