/*Para los menu laterales de las páginas(aside) usar la clase común class="nav-lateral" y utilizar el mismo número de grillas por contenedor envolvente principales.
Para los títulos utilizar la clase class="titulo-test"*/
/* h3 font.size 28px bebas neue p font.size 18px*/
/*Media query a 640 x 681px como el sm de tailwind */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */   
   /* color: white;*/
}
body::-webkit-scrollbar { /*Da un warning en la validación no hay otra forma de poner esa propiedad*/
    width: 0px;
}
/*---Etiquetas generales---*/
button {
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
}
a {
    text-decoration: none;
    color: rgba(21, 213, 166, 1);
    font-family: 'roboto';
}

h1 {
    color: rgba(21, 213, 166, 1);
   /*  font-variant: small-caps; */
}
/*títulos páginas*/
.titulo-test {
    font-size: 50px;
    font-family: 'bebas neue';
}
/*-Menu Lateral Para todas las páginas-*//**Efecto**/
.nav-lateral {
    grid-column: 1/4;
    grid-row: 1/11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(69, 37, 122, 0.3);
    cursor: default;
}
.nav-lateral > a {
    border-bottom: 3px solid rgba(21, 213, 166, 1);
    padding-bottom: 10px;
    opacity: 0.5;
    color: white
}
.nav-lateral > a:hover {
    opacity: 1;
    border-bottom: 3px solid;
    color: rgba(21, 213, 166, 1);
    font-size: 17px;
   /*  border-image: linear-gradient( to bottom,90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(150,17,143,1) 78%); */
}
/*Flecha Up*/
#flechaUpFooter {
    grid-column: 18/19;
    grid-row: 10/11;
    opacity: 0.8;
}

/* -----PÁGINA PRINCIPAL----- */ /****colocar la img *****/
#container-principal {
    display: flex ;
    flex-direction: column;
    height: 100vh;
    color: white;
}
/*-Navegación-*/
/* Calculo el alto con respecto al del contenedor padre*/
#nav-contprin {
    display: flex;
    height: 80px;
    background-color: rgba(80, 80, 80, 1);
}
#nav-frase {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    width: 60%;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}
#nav-enlaces {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around ;
    width: 40%;
    font-family: 'Roboto', sans-serif;
}
#nav-enlaces > a:hover {
    color: rgba(21, 213, 166, 1);
    border-bottom: 2px solid rgba(21, 213, 166, 1);
}
#nav-enlaces > a {
    color: white;
}
/*-Cuerpo-*/
#cuerpo-contprin {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,70px);
    background-image:url(img/fondoPrincipal.jpg);
    background-size: 100% 100%;
}
/*Imagen */
#img-cuerpo-contprin {
    border-radius: 60%;
    height: 90%;
    width: 80%;
    grid-column: 2/6;
    grid-row: 2/8;
}
/*Sección central*/
#section-contprin {
    grid-column:7/12 ;
    grid-row: 3/9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*texto*/
#section-contprin > article {
    height: 68%;
    width: 80%;
    font-family: 'Roboto';
    word-wrap: break-word;
}
.parrafo1-sect-contprin {
    font-size: 25px;
}
.spanp1 {
    font-family: 'Bebas Neue';
    color: rgba(21, 213, 166, 1);
    font-size: 30px;
}
.parrafo2-sect-contprin {
    font-size: 20px;
}
/*Botones*/
#btn-section-contprin {
    display: flex;
    justify-content: space-between;
    height: 15%;
    padding: 5px;
    width: 80%;
    margin-top: 20px;
}
#btn-section-contprin > a:hover {
    font-size: 20px;
}
.far {
    color: white;
    grid-column: 6/7;
    grid-row: 9/10;
    font-size: 50px;
}
.far:hover {
    color: rgba(21, 213, 166, 1);
    font-size: 60px;
}
/*Menu hamburguesa*/

.nav-burguer {
    position: absolute;
    top: 10%;
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.6);
    cursor: pointer;
    transition: all 1s;
}
.nav-burguer > a {
    color: white;
}
.nav-burguer > a:hover {
    color: rgba(21, 213, 166, 1);
    border-bottom: 2px solid rgba(21, 213, 166, 1);
}
/*Giro icono hamburguesa*/
 .giro-burguer {
     transform: rotate(90deg);
 }
/*Clases para habilitar o deshabilitar el nav hamburguesa*/ 
.nav-burguer-off {
    transform: translateX(-3000px);
}
.nav-burguer-on {
    transform: translateX(0px);
}

@media only all and (min-width:640px){
    #container-burguer {
        display: none;
    }
    .nav-burguer-off {
        transform: translateX(-3000px);
    }
}
@media only all and (max-width:640px) {
    /*Página principal*/
    /*nav*/
    #nav-enlaces {
        display: none;
    }
    #nav-frase > p {
        font-size: 14px;
    }
    #nav-frase {
        width: 80%;
    }
    /*main*/
    .parrafo2-sect-contprin {
        font-size: 15px;
    }
    .parrafo1-sect-contprin {
        font-size: 18px;
    }
 
    #section-contprin {
        grid-column:3/11 ;
        grid-row: 5/9;
    }
    #section-contprin > article {
        height: 68%;
        width: 100%;
    }
    #img-cuerpo-contprin {
        border-radius: 60%;
        height: 90%;
        grid-column: 5/10;
        grid-row: 2/5;
    }
    /*Icono hamburguesa*/
    #container-burguer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
    .icono-burguer {
        font-size: 1.5em;
    }
    /*CLASES COMUNES*/
    /*títulos páginas*/
    .titulo-test {
        font-size: 30px;
        font-family: 'bebas neue';
    }
    /*-Menu Lateral Para todas las páginas-*//**Efecto**/
    .nav-lateral {
       font-size: 12px;
       text-align: center;
    }
}
/*-------MIS PROYECTOS------- */
#container-proyectos {
    background-image: url(img/—Pngtree—black\ business\ atmosphere\ business\ card_1099742.jpg);
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: /*repeat(10,72px)*/ repeat(10,1fr);
    height: 100vh; 
}
#titulo-pro {
    text-align: center;
    grid-column: 9/14;
    grid-row: 2/3;
}
/*-Cuerpo-*/
#main-contpro {
     grid-column: 5/18;
     grid-row: 3/11;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(17, 1fr);
     color: white;
}
#proyecto1 {
    grid-row: 1/9;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 21px);
}

#proyecto1 > h3 {
    text-align: center;
    grid-column: 10/14 ;
    grid-row: 3/4 ;
    font-size: 28px;
    font-family: 'bebas neue';
    color: rgba(21, 213, 166, 1);
}
#img-pro1 {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    grid-row: 3/12;
    grid-column: 2/8;
}
#p-pro1 {
    font-size: 18px;
    font-family: 'roboto';
    grid-row: 5/11;
    grid-column: 9/15;
}
/*boton*/
#a-pro1 {
    grid-column: 9/11;
    grid-row: 11/12;
}
#a-pro1:hover {
    font-size: 20px;
}
#proyecto2 {
    grid-row: 9/18;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 23px);
}
#proyecto2 > h3 {
    text-align: center;
    grid-row: 3/12;
    grid-column: 2/7;
    font-size: 28px;
    font-family: 'bebas neue';
    color: rgba(21, 213, 166, 1);
}
#p-pro2 {
    font-size: 18px;
    font-family: 'roboto';
    grid-row: 5/11;
    grid-column: 2/8;
}
#a-pro2 {
    grid-row: 11/12;
    grid-column: 2/4;
}
/*boton*/
#a-pro2:hover {
    font-size: 20px;
}
#img-pro2 {
    border-radius: 20px;
    grid-row: 3/12;
    grid-column: 9/15;
    height: 100%;
    width: 100%;
}
@media only all and (max-width:640px) {
    #main-contpro h3 { 
        font-size: 18px;
    }
    #main-contpro p { 
        font-size: 12px;
    }
    #main-contpro a { 
        font-size: 13px;
    }
    #main-contpro img { 
        height: 90%;
    }
}
/*--------TESTIMONIOS----------*//*No se ve el video*/
#container-testimonios {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: /*repeat(10,72px)*/ repeat(10,1fr);
    height: 100vh; 
    background-image: url(img/—Pngtree—black\ business\ atmosphere\ business\ card_1099742.jpg);
}

/*-Título-*/
.titulo-test {
    grid-column: 8/15;
    grid-row: 2/3;
    text-align: center;
}
/*-Cuerpo-*/
#cuerpo-contest {
    grid-column: 5/18;
    grid-row: 3/11;
    display:flex;
    flex-direction: column;
    color: white;
}
/*Clase para todos los párrafosde testimonio*/
.p-test {
    font-size: 18px;
    grid-row: 2/10;
    grid-column: 7/15;
    font-family: 'roboto';
}
.spn-test {
    font-size: 20px;
}
#testimonio1 {
    height: 33.3%;
    display: grid;
    grid-template-columns:repeat(15, 1fr) ;
    grid-template-rows: repeat(10, 19px);
}

.img-test1 {
    height: 95%;
    width: 100%;
    border-radius: 50%;
    grid-row: 1/11;
    grid-column: 2/5;
    margin-bottom: 10px;
}
#testimonio2 {
    height: 33.3%;
    display: grid;
    grid-template-columns:repeat(15, 1fr) ;
    grid-template-rows: repeat(10, 19px);
    
}
.img-test2 {
    height: 95%;
    width: 100%;
    border-radius: 50%;
    grid-row: 1/11;
    grid-column: 2/5;
}
#testimonio3 {
    height: 33.3%;
    display: grid;
    grid-template-columns:repeat(15, 1fr) ;
    grid-template-rows: repeat(10, 19px);
    
    
}
.video-test { /* No se ve en la pantalla */
    height: 95%;
    width: 100%;
    border-radius: 50%;
    grid-row: 1/11;
    grid-column: 2/5;
}
@media only all and (max-width:640px) {
    #cuerpo-contest p{
        font-size: 12px;
    }
    #cuerpo-contest span{
        font-size: 14px;
    }
    #cuerpo-contest img{
        height: 90%;
        grid-row: 1/11;
        grid-column: 1/6;
    }
    #cuerpo-contest video{
        height: 90%;
        grid-row: 1/11;
        grid-column: 1/6;
    }
}
/*---------SOBRE MI ---------*/

#container-sobremi {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: /*repeat(10,72px)*/ repeat(10,1fr);
    height: 100vh; 
    background-image: url(img/—Pngtree—black\ business\ atmosphere\ business\ card_1099742.jpg);
}
#main-contsobremi {
    grid-column: 5/18;
    grid-row: 3/11;
    display:flex;
    justify-content: space-around;
    color: white;
}
.container-main-sobremi {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12,1fr);
    background: rgba(69, 37, 122, 0.3);
}
.container-main-sobremi:hover {
    border: 1px solid blue;
}
.h3-sobremi {
    margin: auto;
    font-size: 28px;
    color: rgba(21, 213, 166, 1);
    font-family: 'roboto';
    grid-column: 3/9;
    grid-row: 1/3;
}
.p-sobremi { 
    font-family: 'roboto';
    font-size: 20px;
    grid-column:2/10 ;
    grid-row: 4/10;
}
@media only all and (max-width:640px) {
    #main-contsobremi p{
        font-size: 13px;
    }
    #main-contsobremi h3{
        font-size: 20px;
    }
}
/*-----------CONTACTO-----------*/
#container-contacto {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: /*repeat(10,72px)*/ repeat(10,1fr);
    height: 100vh; 
    background-image: url(img/—Pngtree—black\ business\ atmosphere\ business\ card_1099742.jpg);
}
#main-contacto {
    grid-column: 5/18;
    grid-row: 3/11;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    color: white;
}
/*--Contenedor izquierdo */
#main-contact-left {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12,1fr);
    width: 48%;
    height: 100%;
}
#gif {
    height: 100%;
    grid-row: 1/8;
    grid-column: 2/7;
}
#p-left {
    grid-column: 2/10;
    grid-row: 8/12;
    font-family: 'roboto';
    font-size: 20px;
}
/*--Contenedor derecho--*/
#main-contact-right {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(30,1fr);
    width: 48%;
    height: 100%;
}
#main-contact-right > input::placeholder{
    padding-left: 5px;
    color:  rgba(21, 213, 166, 1) 
}
#main-contact-right > textarea::placeholder{
    padding-left: 5px;
    color:  rgba(21, 213, 166, 1) 
}
/*Formulario*/
.cajasform {
    border-radius: 15px;
    font-family: 'roboto';
    font-size: 15px;
    /* background:rgba(196, 196, 196, 0.3) ; */
    background: rgba(69, 37, 122, 0.4);
    color: white;
    border: none;
}
.cajasform:hover {
    border: 1px solid rgba(21, 213, 166, 1) ;
}
#nombre { 
    grid-column: 2/10;
    grid-row: 5/7;
}
#apellido {
    grid-column: 2/10;
    grid-row: 9/11;
}
#email {
    grid-column: 2/10;
    grid-row: 13/15;
}
#textarea {
    grid-column: 2/10;
    grid-row: 17/23;
}
#btnenviar {
    grid-column: 2/10;
    grid-row: 25/27;
    font-family: 'roboto';
    font-size: 16px;
    background: rgba(69, 37, 255, 0.6);
    color: rgb(255, 255, 255);
    border: none;
}
#btnenviar:hover {
    border: 1px solid rgba(21, 213, 166, 1) ;
}
#btnenviar:active {
    background-color: blue;
}

@media only all and (max-width:640px) {
    #main-contacto p{
        font-size: 14px;
    }
    #gif {
        width: 100%;
        height: 100%;
        grid-row: 1/8;
        grid-column: 2/10;
    }
}
/*-------------FOOTER----------*/
#footer {
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 34, 70, 0.70); 
}
#footer > a {
    width: 10%;
    font-size: 8vh;
    color: black;
}
#instagram {
    height: 50%;
    margin-right: 65px;
}

@media only all and (max-width:640px) {
    #instagram {
        height: 50%;
        margin-right: 20px;
    }
}
/*----------CURRICULUM----------*/
/* Ejemplo tomado de https://www.w3schools.com/howto/howto_css_timeline.asp  */



  /* Set a background color */
  #curriculum {
    background-color: #2F4F4F;
    font-family: 'roboto';
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }
  

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  .content:hover {
    background-color: #FF9F55;
    opacity: 0.8;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }

    /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }